.style {
    font-family: "Courier New", Courier;
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
}

.button {
    position: absolute;
    top: 50%;
}
h1 {
    margin-top: 30px;
    margin-bottom: 40px;
}
h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}
h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}
h4{
    margin-top: 0px;
    margin-bottom: 30px;
}
.title{
    margin-top: 35px;
    margin-bottom: 20px;
}
.playlist {
    margin-top: 30px;
    margin-bottom: 5px;
}
.refresh {
    margin-top: 0px;
    margin-bottom: 25px;
}
.noData {
    font-family: "Courier New", Courier;
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
}
.left-center {
    display: inline-block; 
    text-align: left; 
    font-family: "Courier New", Courier;
    margin-bottom: 10px;
}
.center{
    text-align: center;
}
.background-btn {
    font-family: "Courier New", Courier;
    font-size: xx-small;
    color: rgba(158, 157, 157, 0.644);
}
  body {
    background-attachment: fixed;
    color: rgba(228, 228, 228, 0.911);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
} 
.pimg {
    width: 45%;
    height: auto;
    max-width: 400px;
  }
  .timg {
    width: 20%;
    height: auto;
    max-width: 150px;
  }


